@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource-variable/geist";
@import "@fontsource/caveat/400.css";
@import "@fontsource/caveat/600.css";
@import "@fontsource/caveat/700.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
    --font-heading: "Caveat", cursive;
    --font-sans: Geist, ui-sans-serif, system-ui, sans-serif;
    --font-serif: 'Instrument Serif', ui-serif, Georgia, serif;
    --font-mono: 'JetBrains Mono', ui-monospace, 'SF Mono', Menlo, monospace;
    --color-sidebar-ring: var(--sidebar-ring);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar: var(--sidebar);
    --color-chart-5: var(--chart-5);
    --color-chart-4: var(--chart-4);
    --color-chart-3: var(--chart-3);
    --color-chart-2: var(--chart-2);
    --color-chart-1: var(--chart-1);
    --color-ring: var(--ring);
    --color-input: var(--input);
    --color-border: var(--border);
    --color-destructive: var(--destructive);
    --color-accent-foreground: var(--accent-foreground);
    --color-accent: var(--accent);
    --color-muted-foreground: var(--muted-foreground);
    --color-muted: var(--muted);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-secondary: var(--secondary);
    --color-primary-foreground: var(--primary-foreground);
    --color-primary: var(--primary);
    --color-popover-foreground: var(--popover-foreground);
    --color-popover: var(--popover);
    --color-card-foreground: var(--card-foreground);
    --color-card: var(--card);
    --color-foreground: var(--foreground);
    --color-background: var(--background);
    --radius-sm: calc(var(--radius) * 0.6);
    --radius-md: calc(var(--radius) * 0.8);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) * 1.4);
    --radius-2xl: calc(var(--radius) * 1.8);
    --radius-3xl: calc(var(--radius) * 2.2);
    --radius-4xl: calc(var(--radius) * 2.6);
    --radius: 0.625rem;
    --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
    --tracking-tight: calc(var(--tracking-normal) - 0.025em);
    --tracking-wide: calc(var(--tracking-normal) + 0.025em);
    --tracking-wider: calc(var(--tracking-normal) + 0.05em);
    --tracking-widest: calc(var(--tracking-normal) + 0.1em);
    --tracking-normal: var(--tracking-normal);
    --shadow-2xl: var(--shadow-2xl);
    --shadow-xl: var(--shadow-xl);
    --shadow-lg: var(--shadow-lg);
    --shadow-md: var(--shadow-md);
    --shadow: var(--shadow);
    --shadow-sm: var(--shadow-sm);
    --shadow-xs: var(--shadow-xs);
    --shadow-2xs: var(--shadow-2xs);
    --spacing: var(--spacing);
    --letter-spacing: var(--letter-spacing);
    --shadow-offset-y: var(--shadow-offset-y);
    --shadow-offset-x: var(--shadow-offset-x);
    --shadow-spread: var(--shadow-spread);
    --shadow-blur: var(--shadow-blur);
    --shadow-opacity: var(--shadow-opacity);
    --color-shadow-color: var(--shadow-color);
    --color-destructive-foreground: var(--destructive-foreground);
}

:root {
    --font-sans: Geist, ui-sans-serif, system-ui, sans-serif;
    --font-heading: "Caveat", cursive;
    --font-serif: 'Instrument Serif', ui-serif, Georgia, serif;
    --font-mono: 'JetBrains Mono', ui-monospace, 'SF Mono', Menlo, monospace;
    --background: oklch(0.9728 0.0054 95.0993);
    --foreground: oklch(0.2243 0.0221 185.6724);
    --card: oklch(1.0000 0 0);
    --card-foreground: oklch(0.2243 0.0221 185.6724);
    --popover: oklch(1.0000 0 0);
    --popover-foreground: oklch(0.2243 0.0221 185.6724);
    --primary: oklch(0.3198 0.0503 184.8306);
    --primary-foreground: oklch(1.0000 0 0);
    --secondary: oklch(0.7425 0.1187 78.6641);
    --secondary-foreground: oklch(0.3036 0.0504 76.5964);
    --muted: oklch(0.9457 0.0096 93.5714);
    --muted-foreground: oklch(0.5007 0.0132 175.8728);
    --accent: oklch(0.9312 0.0120 184.0683);
    --accent-foreground: oklch(0.3198 0.0503 184.8306);
    --destructive: oklch(0.5252 0.1692 25.8907);
    --border: oklch(0.8910 0.0097 119.5952);
    --input: oklch(0.8910 0.0097 119.5952);
    --ring: oklch(0.5430 0.0898 188.8802);
    --chart-1: oklch(0.5430 0.0898 188.8802);
    --chart-2: oklch(0.7425 0.1187 78.6641);
    --chart-3: oklch(0.3198 0.0503 184.8306);
    --chart-4: oklch(0.7428 0.0937 186.5457);
    --chart-5: oklch(0.6635 0.1069 76.8814);
    --radius: 0.625rem;
    --sidebar: oklch(0.9517 0.0096 93.5706);
    --sidebar-foreground: oklch(0.2243 0.0221 185.6724);
    --sidebar-primary: oklch(0.3198 0.0503 184.8306);
    --sidebar-primary-foreground: oklch(1.0000 0 0);
    --sidebar-accent: oklch(0.9312 0.0120 184.0683);
    --sidebar-accent-foreground: oklch(0.3198 0.0503 184.8306);
    --sidebar-border: oklch(0.8910 0.0097 119.5952);
    --sidebar-ring: oklch(0.5430 0.0898 188.8802);
    --destructive-foreground: oklch(1.0000 0 0);
    --shadow-color: #0f1f1d;
    --shadow-opacity: 0.06;
    --shadow-blur: 4px;
    --shadow-spread: -1px;
    --shadow-offset-x: 0px;
    --shadow-offset-y: 1px;
    --letter-spacing: 0em;
    --spacing: 0.25rem;
    --shadow-2xs: 0px 1px 4px -1px hsl(172.5000 34.7826% 9.0196% / 0.03);
    --shadow-xs: 0px 1px 4px -1px hsl(172.5000 34.7826% 9.0196% / 0.03);
    --shadow-sm: 0px 1px 4px -1px hsl(172.5000 34.7826% 9.0196% / 0.06), 0px 1px 2px -2px hsl(172.5000 34.7826% 9.0196% / 0.06);
    --shadow: 0px 1px 4px -1px hsl(172.5000 34.7826% 9.0196% / 0.06), 0px 1px 2px -2px hsl(172.5000 34.7826% 9.0196% / 0.06);
    --shadow-md: 0px 1px 4px -1px hsl(172.5000 34.7826% 9.0196% / 0.06), 0px 2px 4px -2px hsl(172.5000 34.7826% 9.0196% / 0.06);
    --shadow-lg: 0px 1px 4px -1px hsl(172.5000 34.7826% 9.0196% / 0.06), 0px 4px 6px -2px hsl(172.5000 34.7826% 9.0196% / 0.06);
    --shadow-xl: 0px 1px 4px -1px hsl(172.5000 34.7826% 9.0196% / 0.06), 0px 8px 10px -2px hsl(172.5000 34.7826% 9.0196% / 0.06);
    --shadow-2xl: 0px 1px 4px -1px hsl(172.5000 34.7826% 9.0196% / 0.15);
    --tracking-normal: 0em;
}

.dark {
    --background: oklch(0.1880 0.0177 182.6719);
    --foreground: oklch(0.9417 0.0060 170.4415);
    --card: oklch(0.2243 0.0221 185.6724);
    --card-foreground: oklch(0.9417 0.0060 170.4415);
    --popover: oklch(0.2522 0.0242 186.8337);
    --popover-foreground: oklch(0.9417 0.0060 170.4415);
    --primary: oklch(0.7428 0.0937 186.5457);
    --primary-foreground: oklch(0.1880 0.0177 182.6719);
    --secondary: oklch(0.8055 0.0962 80.2621);
    --secondary-foreground: oklch(0.2391 0.0389 73.8418);
    --muted: oklch(0.2633 0.0195 185.1012);
    --muted-foreground: oklch(0.6625 0.0145 179.2309);
    --accent: oklch(0.2633 0.0195 185.1012);
    --accent-foreground: oklch(0.8730 0.0711 185.9401);
    --destructive: oklch(0.6774 0.1475 22.7619);
    --border: oklch(0.3149 0.0202 186.0899);
    --input: oklch(0.3149 0.0202 186.0899);
    --ring: oklch(0.7428 0.0937 186.5457);
    --chart-1: oklch(0.7428 0.0937 186.5457);
    --chart-2: oklch(0.8055 0.0962 80.2621);
    --chart-3: oklch(0.8192 0.0797 187.6614);
    --chart-4: oklch(0.7326 0.1443 156.3641);
    --chart-5: oklch(0.7425 0.1187 78.6641);
    --sidebar: oklch(0.1719 0.0151 188.0221);
    --sidebar-foreground: oklch(0.9417 0.0060 170.4415);
    --sidebar-primary: oklch(0.7428 0.0937 186.5457);
    --sidebar-primary-foreground: oklch(0.1880 0.0177 182.6719);
    --sidebar-accent: oklch(0.2633 0.0195 185.1012);
    --sidebar-accent-foreground: oklch(0.8730 0.0711 185.9401);
    --sidebar-border: oklch(0.2633 0.0195 185.1012);
    --sidebar-ring: oklch(0.7428 0.0937 186.5457);
    --destructive-foreground: oklch(0.1562 0.0257 25.5104);
    --radius: 0.625rem;
    --font-sans: Geist, ui-sans-serif, system-ui, sans-serif;
    --font-heading: "Caveat", cursive;
    --font-serif: 'Instrument Serif', ui-serif, Georgia, serif;
    --font-mono: 'JetBrains Mono', ui-monospace, 'SF Mono', Menlo, monospace;
    --shadow-color: #000000;
    --shadow-opacity: 0.3;
    --shadow-blur: 3px;
    --shadow-spread: 0px;
    --shadow-offset-x: 0px;
    --shadow-offset-y: 1px;
    --letter-spacing: 0em;
    --spacing: 0.25rem;
    --shadow-2xs: 0px 1px 3px 0px hsl(0 0% 0% / 0.15);
    --shadow-xs: 0px 1px 3px 0px hsl(0 0% 0% / 0.15);
    --shadow-sm: 0px 1px 3px 0px hsl(0 0% 0% / 0.30), 0px 1px 2px -1px hsl(0 0% 0% / 0.30);
    --shadow: 0px 1px 3px 0px hsl(0 0% 0% / 0.30), 0px 1px 2px -1px hsl(0 0% 0% / 0.30);
    --shadow-md: 0px 1px 3px 0px hsl(0 0% 0% / 0.30), 0px 2px 4px -1px hsl(0 0% 0% / 0.30);
    --shadow-lg: 0px 1px 3px 0px hsl(0 0% 0% / 0.30), 0px 4px 6px -1px hsl(0 0% 0% / 0.30);
    --shadow-xl: 0px 1px 3px 0px hsl(0 0% 0% / 0.30), 0px 8px 10px -1px hsl(0 0% 0% / 0.30);
    --shadow-2xl: 0px 1px 3px 0px hsl(0 0% 0% / 0.75);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
    }
  body {
    @apply bg-background text-foreground;
    font-family: var(--font-sans);
    letter-spacing: var(--tracking-normal);
    }
  html {
    font-family: var(--font-sans);
    }
}